<?php

# Connection to MySQL
$mysql_host = 'localhost';
$mysql_username = 'root';
$mysql_password = 'root';
$mysql_world = 'world';
$mysql_characters = 'characters';

# Quest URL
define('quest_url', 'https://wotlkdb.com/?quest=');
# Query cache time (Secs)
define('cache_time', 3600); // 1 hour
